*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.1) url('Assets/Add\ a\ heading.gif') fixed center no-repeat; /* Replace 'your-background.gif' with the path to your GIF */
    background-size: cover;

}


canvas{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    /* Additional styling for your website content */
    padding: 20px;
}

